@import "./variables";

html {
  font-size: 62.5%;

  @media only screen and (max-width: $break-tablet) {
    font-size: 50%;
  }

  @media only screen and (max-width: $break-phone-tiny) {
    font-size: 37.5%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit;
}

body {
  box-sizing: border-box;
  border: none;
  background-color: $color-grey-light-very;
  color: $color-grey-dark;

  // font-family: "Avenir", sans-serif;
  // font-family: "Climate Crisis", cursive;
  font-family: "Montserrat", sans-serif;

  background-color: $color-grey-light-very;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  margin: 3rem 0 2rem 0;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
}

p {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.4em;
}
