@import "../../styles/variables";

.interface {
  &__icon {
    position: absolute;
    top: 50%;
    height: 4rem;
    transition: all 0.2s;
    cursor: pointer;

    @media (max-width: $break-phone) {
      top: 85%;
    }

    &--arrow-left {
      left: 2rem;

      @media (max-width: $break-phone) {
        left: 1rem;
      }
    }

    &--arrow-right {
      right: 2rem;

      @media (max-width: $break-phone) {
        right: 1rem;
      }
    }

    &--close {
      top: 2rem;
      right: 2rem;
    }

    & svg {
      height: 100%;
      color: $color-grey-light-very;
    }
  }

  &__counter {
    position: relative;
    top: 2.6rem;
    left: 2rem;
    color: $color-grey-light-very;

    @media (max-width: $break-phone) {
      //   left: 50%;
      //   transform: translateX(calc(($width-main/2 * -1) + 0.5rem));
    }
  }
}
