@import "../../styles/variables";

.language-switch {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: $font-medium;
  color: $color-grey-light;
  cursor: pointer;
  padding: 0 0 2rem 2rem;

  &--active {
    color: $color-black;
  }
}
