@import "../styles/variables";

.main__section {
  margin-top: 10rem;

  &__header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: $color-white;
    padding: 1.5rem 0;
    z-index: 1;
  }

  & h2 {
    margin-bottom: 0;
  }

  &__description {
    margin-bottom: 5rem;
  }

  &__paintings {
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media (max-width: $break-phone) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
